{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome! This page will display APF data. {% endblock %}</h1>
    <h3> Go to the /APF_Results page for the Specmatcth results.</h3>
    <h3> Go to the /APF_Logfile page for the most recent APF logfile.</h3>
<!--    {% for post in posts %}                                          -->
<!--        <a href="#">                                                     -->
<!--            <h2>{{ post['title'] }}</h2>                                 -->
<!--        </a>                                                             -->
<!--        <span class="badge badge-primary">{{ post['created'] }}</span>   -->
<!--        <hr>                                                             -->
<!--    {% endfor %}                                                         -->
{% endblock %}
